<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/login">LOGIN</a></li>
        </ul>
    </div>
    
    <div class="register-container">
        <h2>Register</h2>
        <form action="/register" method="post">
            <input type="text" placeholder="Enter your Name" required>
            <input type="email" placeholder="Enter your Gmail" required>
            <input type="password" placeholder="Enter your Password" required>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
